.userListBloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
}

.userBloc {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid aqua;
    border-radius: 10px;
}

.h3, h4, ul {
    margin: 2px;
}
.li {

    list-style-type: none;
}